:root {
  --laranja-500: #ff6600;
  --laranja-700: #b34700;
  --cinza-900: #121212;
  --branco: #ffffff;
  --fonte-principal: 'Segoe UI', sans-serif;
  --border-radius: 8px;
}

body {
  margin: 0;
  padding: 20px;
  font-family: var(--fonte-principal);
  background-color: var(--cinza-900);
   color: var(--laranja-500);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
  max-width: 480px;
}

header nav a {
  color: var(--laranja-500);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 1rem;
  text-decoration: none;
}

header nav a:hover {
  color: var(--laranja-700);
}

button {
  cursor: pointer;
  font-size: 16px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.btn-laranja {
  background-color: var(--laranja-500);
  color: var(--branco);
  border: none;
  padding: 12px 24px;
}

button.btn-laranja:hover {
  background-color: var(--laranja-700);
  transform: translateY(-2px);
}

footer {
  width: 100%;
  text-align:justify;
  padding: 1rem 0;
  color: var(--laranja-500);
  margin-top: auto;

}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items:center;    
  flex-wrap: wrap;        
  gap: 15px;               
  margin-top: 1rem;
}

.redes-sociais a:hover {
  color: var(--laranja-700);
}

.social-icon {
  display: block;  
  color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
  color: #ef0d0d;
  transform: scale(1.1);
}
/* Telas médias (tablets) */
@media (max-width: 992px) {
  .home-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .home-card {
    max-width: 400px;
  }
}

/* Telas pequenas (celulares) */
@media (max-width: 768px) {
  .home-main {
    grid-template-columns: 1fr; /* 1 card por linha */
  }
  .home-card {
    max-width: 100%;
    padding: 1rem;
  }
}



